.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 22px;
}

@media (max-width: 375px) {
  .container {
    max-width: 360px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}