.clicker {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.clicker__button {
  background: none;
  outline: none;
  border: none;
	width: 70%;
}

.clicker__image-hero {
	width: 100%;
}