@import "./shared/Counter/counter.scss";
@import "./shared/Container/container.scss";
@import "./shared/Clicker/clicker.scss";
@import "./shared/EnergyBar/energy-bar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg,#22001b, #CB10AC); 
	font-family: "Noto Sans JP", sans-serif;
}