.counter {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;

	background-color: #66496D;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);

	width: 100%;
	padding: 20px 40px;
	overflow: hidden;
}

.counter__image-spot {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.counter__image-coin {
	width: 50px;
}

.counter__count-click {
	flex: 1 1 100%;
	font-weight: 900;
	font-size: 32px;
	color: #fff;
	text-align: center;
	z-index: 1;
}